body {
    font-family: Arial;
    background-color: #b7ebe4;
    text-align: center;
}

h1 {
    font-size: 50PX;
}
 
.quiz {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}
 
.sporsmal {
    margin-bottom: 25px;
}
 
button {
    padding: 10px;
    margin-top: 10px;
}